@use '../../vitepress/styles/css-vars.scss' as *;
@use './nprogress.css';

/* 文档自定义样式 */
:root {
  --vp-c-brand: #409eff;
  --vp-c-brand-light: #5cadff;
  --vp-c-brand-dark: #337ecc;
  --code-font-family:
    'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --font-family-mono:
    'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* 表格样式 */
.vp-doc {
  h2 {
    border-top: none;
  }
  table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    // margin: 16px 0;
    font-size: 14px;
    line-height: 1.5em;
    overflow: hidden;
    table-layout: fixed;

    th,
    td {
      white-space: nowrap;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 0.6em 1em;
      text-align: left;
      max-width: 250px;
      white-space: pre-wrap;
    }

    thead tr:first-child th {
      border-top: none;
    }

    tbody tr td:first-child {
      font-family: var(--font-family-mono);
    }
  }
}
