@use '../../vitepress/styles/css-vars.scss' as *;
/* 导入组件库样式 */
// @use './style.css';
// @import '@yun-elp/theme-chalk/src/index.scss';

/* 文档自定义样式 */
// :root {
//   --vp-c-brand: #409eff;
//   --vp-c-brand-light: #5cadff;
//   --vp-c-brand-dark: #337ecc;
// }

// .demo-block {
//   border: 1px solid #dcdfe6;
//   border-radius: 4px;
//   margin: 20px 0;

//   .demo-content {
//     padding: 24px;
//   }

//   .demo-source {
//     padding: 0 24px 24px;
//   }

//   .demo-description {
//     border-top: 1px solid #dcdfe6;
//     padding: 16px 24px;
//     color: #606266;
//     background-color: #fafafa;
//   }
// }
