# EditorConfig is awesome: https://EditorConfig.org

# 表示是最顶层的配置文件，发现设为true时，才会停止查找.editorconfig文件
root = true

# 表示所有文件适用
[*]
# 设置字符集
charset = utf-8
# 缩进风格，可选space、tab
indent_style = space
# 缩进的空格数
indent_size = 2
# 结尾换行符，可选lf、cr、crlf
end_of_line = lf
# 在文件结尾插入新行
insert_final_newline = true
# 删除一行中的前后空格
trim_trailing_whitespace = true

# 表示仅 md 文件适用以下规则
[*.md]
# 删除一行中的前后空格
trim_trailing_whitespace = false

# 表示仅 ts、js、vue、css、scss、json、yaml 文件适用以下规则
[*.{ts,js,vue,css,scss,json,yaml}]
# 缩进风格，可选space、tab
indent_style = space
# 缩进的空格数
indent_size = 2

# 表示仅 html 文件适用以下规则
[*.html]
# 缩进风格，可选space、tab
indent_style = space
# 缩进的空格数
indent_size = 2

# 表示仅 Makefile 文件适用以下规则
[Makefile]
# 缩进风格，可选space、tab
indent_style = tab
