.y-border-label {
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;

  // 前置插槽样式
  &__prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
  }

  &__label {
    color: var(--el-text-color-primary);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    line-height: 100%;
    font-size: var(--el-font-size-base);
    padding: 0 8px;
    background-color: var(--el-fill-color-blank);
    border: 1px solid var(--el-border-color);
    border-right: 0 none;
    border-radius: var(--el-border-radius-base) 0 0 var(--el-border-radius-base);

    &--no-border {
      border: none;
      background-color: transparent;
      border-radius: 0;
      padding-left: 0;
    }
  }

  &__content {
    flex: 1;
    height: 100%;
    //输入框
    > .el-input {
      width: 100%;
      height: 100%;

      > .el-input__wrapper {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    //下拉框
    > .el-select {
      width: 100%;
      height: 100%;

      > .el-select__wrapper {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    //级联选择器
    > .el-cascader {
      width: 100%;
      height: 100%;

      > .el-input {
        width: 100%;
        height: 100%;
      }
    }

    // 日期时间范围选择器
    .el-date-editor.el-input {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }

  // 后置插槽样式
  &__suffix {
    display: flex;
    align-items: center;
    padding-left: 8px;
  }
}
