@use './mixins/function' as *;

#{y-class('border-label')} {
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;

  // 前置插槽样式
  &__prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
  }

  &__label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: var(#{el-var-name('font-size-base')});
    line-height: 100%;
    color: var(#{el-var-name('text-color-primary')});
    white-space: nowrap;
    background-color: var(#{el-var-name('fill-color-blank')});
    border: 1px solid var(#{el-var-name('border-color')});
    border-right: 0 none;
    border-radius: var(#{el-var-name('border-radius-base')}) 0 0
      var(#{el-var-name('border-radius-base')});

    &--no-border {
      padding-left: 0;
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
  }

  &__content {
    flex: 1;
    height: 100%;

    //输入框
    > #{el-class('input')} {
      width: 100%;
      height: 100%;

      > #{el-class('input__wrapper')} {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    //下拉框
    > #{el-class('select')} {
      width: 100%;
      height: 100%;

      > #{el-class('select__wrapper')} {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    //级联选择器
    > #{el-class('cascader')} {
      width: 100%;
      height: 100%;

      > #{el-class('input')} {
        width: 100%;
        height: 100%;
      }
    }

    // 日期时间范围选择器
    #{el-class('date-editor')}#{el-class('input')} {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }

  // 后置插槽样式
  &__suffix {
    display: flex;
    align-items: center;
    padding-left: 8px;
  }
}
