@use './mixins/function' as *;

#{y-class('column-op')} {
  .cell {
    #{y-class('pop')} {
      margin-left: 8px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__dropdown {
    width: auto !important;
    min-width: 0 !important;
    padding: 6px 0 !important;

    &-icon {
      margin-left: 8px;
      vertical-align: middle;
      color: var(#{el-var-name('color-primary')});
      cursor: pointer;
    }

    &-item {
      box-sizing: border-box;
      height: 32px;
      padding: 0 15px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var(#{el-var-name('color-primary')});
        background-color: var(#{el-var-name('color-primary-light-9')});
      }

      &.disabled {
        font-weight: 400;
        color: var(#{el-var-name('color-primary-light-5')});
        cursor: not-allowed;
        user-select: none;
      }
    }
  }
}
