@use './mixins/function' as *;

#{y-class('column-form')} {
  &__error {
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 0;
  }
}
