.y-column-forms {
  &__content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    &.is-line {
      // flex-direction: row;
    }
    &.is-flex {
      // display: flex;
      // gap: 8px;
      // flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__error {
    width: 100%;
    height: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}
