.y-column-filter {
  &__content {
    line-height: 1.5;
  }
  &__status {
    display: inline-block;
    padding: 4px 6px;
    line-height: 1;
    font-size: var(--el-font-size-small);
    border-radius:1px;
  }
}
