@use './mixins/function' as *;

#{y-class('column-select')} {
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__radio {
    #{el-class('checkbox__inner')} {
      border-radius: 50%;
    }
  }
}
