@use './mixins/function' as *;

#{y-class('desc')} {
  width: 100%;
  font-size: var(#{el-var-name('font-size-base')});
  color: var(#{el-var-name('text-color-primary')});
  background-color: var(#{el-var-name('bg-color')});

  // 主体内容区域 - 使用Grid布局
  &__body {
    display: grid;
    grid-template-columns: repeat(var(#{y-var-name('desc-columns')}, 3), 1fr);
    gap: 8px 0;
    width: 100%;
  }

  // 描述项
  &__item {
    display: flex;
    flex-direction: row;
    min-width: 0; // 防止内容撑开

    &--vertical {
      flex-direction: column;
    }
  }

  // 标签
  &__item-label {
    flex-shrink: 0;
    margin-inline-end: 16px;
    line-height: 1.5;

    // box-sizing: border-box;
    line-height: 23px;
    color: var(#{el-var-name('text-color-regular')});
    word-break: keep-all;
    white-space: nowrap;
  }

  // 内容区域
  &__item-content {
    flex: 1;
    min-width: 0;
    padding-inline-end: 16px;
    overflow: hidden;

    // box-sizing: border-box;
    line-height: 23px;
  }

  // 边框模式
  &--bordered {
    #{y-class('desc__body')} {
      gap: 0; // 移除间距
      overflow: hidden;
      border: 1px solid var(#{el-var-name('border-color')});
    }

    #{y-class('desc__item')} {
      min-height: 41px;
      border: none;
      border-bottom: 1px solid var(#{el-var-name('border-color-lighter')});
    }

    #{y-class('desc__item-label')} {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 80px;
      padding: 8px 11px;
      margin-inline-end: 0;
      font-weight: bold;
      color: var(#{el-var-name('text-color-regular')});
      background-color: var(#{el-var-name('fill-color-light')});
      border-inline-end: 1px solid var(#{el-var-name('border-color-lighter')});
    }

    #{y-class('desc__item-content')} {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 11px;
    }
  }
}
