.y-drawer {
  &__header {
    box-sizing: border-box;
    padding: 16px !important;
    margin-bottom: 0 !important;
    font-size: var(--el-font-size-base);
    border-bottom: 1px solid var(--el-border-color-light);

    .el-drawer__title {
      font-size: var(--el-font-size-base);
      font-weight: var(--el-font-weight-primary);
      color: var(--el-text-color-primary);
    }
  }

  &__body {
    padding: 0 !important;
  }

  &__footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    padding: 16px !important;
    border-top: 1px solid var(--el-border-color-light);
  }
}
