.y-empty {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .el-empty__description {
    line-height: 18px;
    font-size: var(--el-font-size-base);
  }
}
