@use './mixins/function' as *;

#{y-class('label')} {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;
  height: var(--label-height);

  // 前置插槽样式
  &__prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
  }

  &__label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-right: 8px;
    font-size: var(#{el-var-name('font-size-base')});
    color: var(#{el-var-name('text-color-primary')});
  }

  &__colon {
    margin-left: 2px;
  }

  &__content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  // 后置插槽样式
  &__suffix {
    display: flex;
    align-items: center;
    padding-left: 8px;
  }
}
