.y-label {
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;
  height: var(--label-height);
  position: relative;

  // 前置插槽样式
  &__prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
  }

  &__label {
    margin-right: 8px;
    color: var(--el-text-color-primary);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: var(--el-font-size-base);
  }

  &__colon {
    margin-left: 2px;
  }

  &__content {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // 后置插槽样式
  &__suffix {
    display: flex;
    align-items: center;
    padding-left: 8px;
  }
}
