// 定义图标样式的 mixin（规则集的复用）
@mixin menu-icon-style {
  margin-right: var(--y-menu-icon-margin-right, 5px);
  width: var(--y-menu-icon-width, 16px);
  height: var(--y-menu-icon-height, 16px);
  font-size: var(--y-menu-icon-font-size, 16px);
  line-height: var(--y-menu-icon-line-height, 16px);
  color: var(--y-menu-icon-color, var(--el-menu-text-color));
}

// 定义多语言文本换行的 mixin
@mixin menu-text-wrap {
  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;
}

.y-menu {
  .el-menu-item {
    display: flex;
    align-items: center;
    // 直接子菜单，排除submenu，否则会给submenu整体增加额外缩进
    &:not(.el-sub-menu) {
      padding-left: var(--menu-indent) !important;
    }

    &.is-active {
      background-color: var(--y-menu-active-bg-color);
      .y-menu-item__icon {
        color: var(--el-menu-active-color);
      }
    }

    // 菜单文本多语言换行支持
    span {
      @include menu-text-wrap;
    }
  }

  // submenu的title的缩进
  .el-sub-menu {
    .el-sub-menu__title {
      display: flex;
      align-items: center;
      padding-left: var(--menu-indent) !important;

      // 菜单文本多语言换行支持
      span {
        @include menu-text-wrap;
      }
    }
    // submenu的title的激活状态
    &.is-active {
      > .el-sub-menu__title {
        color: var(--el-menu-active-color) !important;
        background-color: var(--y-submenu-active-bg-color);
        .y-menu-item__submenu-icon {
          color: var(--el-menu-active-color);
        }
      }
    }
  }

  // 收起状态下
  &.el-menu--collapse {
    width: var(--y-menu-collapse-width);
    // 覆盖收起后样式，可自定义宽度，保证图标剧中
    .el-menu-item {
      padding: 0 !important;
      justify-content: center;
      align-items: center;
      .y-menu-item__icon {
        margin-right: 0;
      }
    }
    .el-sub-menu__title {
      padding: 0 !important;
      justify-content: center;
      .y-menu-item__submenu-icon {
        margin-right: 0;
      }
    }
  }

  // 使用 mixin 应用图标样式
  .y-menu-item__icon,
  .y-menu-item__submenu-icon {
    @include menu-icon-style;
  }
}

.y-menu-popper {
  .el-menu-item {
    &.is-active {
      background-color: var(--y-menu-active-bg-color);
    }
  }

  .el-sub-menu {
    &.is-active {
      > .el-sub-menu__title {
        color: var(--el-menu-active-color) !important;
        background-color: var(--y-submenu-active-bg-color);
        .y-menu-item__submenu-icon {
          margin-right: 5px;
        }
      }
    }
  }

  // 使用 mixin 应用图标样式
  .y-menu-item__icon,
  .y-menu-item__submenu-icon {
    @include menu-icon-style;
  }
}
