@use './mixins/function' as *;

#{y-class('page-footer')} {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(#{el-var-name('bg-color')});
  border-top: 1px solid var(#{el-var-name('border-color-light')});
}
