.y-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--y-page-header-bg-color, #fff);
  box-sizing: border-box;
  font-size: var(--el-font-size-base);

  &__left {
    display: flex;
    align-items: center;
    &-title {
      font-size: var(--el-font-size-base);
      font-weight: var(--el-font-weight-primary);
      color: var(--el-text-color-primary);
      white-space: nowrap;
    }
    &-extra {
      display: flex;
      align-items: center;
      margin-left: 16px;
      flex-shrink: 0;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: 16px;
    flex-shrink: 0;
  }

  // 边框样式
  &--border {
    border-bottom: 1px solid var(--el-border-color);
  }
}
