.y-page-footer {
  // 组件样式
  // position: fixed;
  border-top: 1px solid var(--el-border-color-light);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: var(--el-bg-color);
}
