@use './mixins/function' as *;

#{y-class('part-title')} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(#{el-var-name('font-size-base')});
  line-height: 1;
  color: var(#{el-var-name('text-color-primary')});

  &__left {
    display: flex;
    align-items: center;
    padding-inline-start: var(--gap-base, 8px);

    &-block {
      width: 3px;
      height: 1em;
      margin-inline-end: var(--gap-small);
      background-color: var(#{el-var-name('color-primary')});
    }

    &-extra {
      margin-inline-start: var(--gap-small);
    }

    &::before {
      position: absolute;
      inset-inline-start: 0;
      top: 50%;
      display: block;
      width: 2px;
      height: 1em;
      content: '';
      background-color: var(#{el-var-name('color-primary')});
      transform: translateY(-50%);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
