@use './mixins/function' as *;

#{y-class('pop')} {
  display: inline-block;

  & + & {
    margin-left: 12px;
  }
}

#{el-class('button')} + #{y-class('pop')} {
  margin-left: 12px;
}

#{y-class('pop')} + #{el-class('button')} {
  margin-left: 12px;
}
