@use './mixins/function' as *;

#{y-class('table')} {
  width: 100%;
  &__footer {
    display: flex;
    align-items: center;
    height: var(--table-footer-height, 60px);
    font-size: var(#{el-var-name('font-size-base')});
    border: 1px solid var(#{el-var-name('border-color-light')});
    border-top: none;

    &-total-num {
      margin: 0 4px;
    }

    &-default {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 16px;
    }

    &-pagination {
      #{el-var-name('pagination-font-size')}: var(#{el-var-name('font-size-base')}, 12px);
      #{el-var-name('pagination-button-width')}: 30px;
      #{el-var-name('pagination-button-height')}: 28px;
      #{el-class('pagination__sizes')} {
        #{el-class('select')} {
          width: 100px;
          #{el-class('select__wrapper')} {
            height: 28px;
            min-height: 28px;
            #{el-class('select__selected-item')} {
              font-size: var(#{el-var-name('font-size-base')}, 12px);
            }
          }
        }
      }

      #{el-class('pagination__jump')} {
        font-size: var(#{el-var-name('font-size-base')}, 12px);
        #{el-class('input__wrapper')} {
          height: 28px;
          #{el-class('input__inner')} {
            height: 28px;
          }
        }
      }
    }
  }
}
