@use './mixins/function' as *;
@use 'element-plus/theme-chalk/src/tooltip.scss' as tooltip;

#{y-class('text-tooltip')} {
  &__content {
    display: -webkit-box;
    align-self: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
  }
}
