/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body {
  // font-family:
  //   'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
  //   Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // color: #333;
  // background-color: #ffffff;
  // font-size: 14px;
  // line-height: 1.5;
  width: 100%;
  height: 100%;
}
