/**
 * 公共样式混入(mixins)
 */

// 清除浮动
@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

// 文本溢出省略号
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本溢出省略号，参数为行数
@mixin ellipsis-multi($lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

// 禁止选择文本
@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
