/**
 * KD-ELP 自定义主题
 * 覆盖 Element Plus 的默认主题变量
 */

// 定义自定义主题变量
:root {
  // 主题色
  --primary-color: #365edf;
  --primary-hover: #5e7ee5;
  --primary-active: #2b4bb2;
  --primary-disabled: #eaeefb;
  --primary-suspension: #f5f7fd; // 悬浮
  --color-primary: #365edf;
  --color-primary-hover: #5e7ee5;

  // 文本大小
  --font-size-base: 12px; // 基础字体大小
  --font-size-small: 10px; // 基础字体大小
  --font-size-large: 14px; // 大字体
  --font-size-xlarge: 16px; // 超大字体

  // 文本颜色
  --color-text-title: #303133; // 标题
  --color-text-90: rgb(39 48 75 / 90%); // 标题
  --color-text-85: rgb(39 48 75 / 85%); // 正文
  --color-text-65: rgb(39 48 75 / 65%); // 正文次要
  --color-text-45: rgb(39 48 75 / 45%); // 辅助、说明文字
  --color-text-25: rgb(39 48 75 / 25%); // 禁用，提示文字

  // 其他颜色
  --color-border: #dcdcdc; // 线框
  --color-split-line: #e3e6e8; // 分割线
  --color-table-header-bg: #f7f8fa; // 表格表头背景色

  // 距离
  --gap-base: 8px; // 基础间距
  --gap-small: 4px; // 小间距
  --gap-large: 16px; // 大间距
  --gap-xlarge: 24px; // 超大间距

  // el-input
  --el-border-radius-base: 0px;
}

// 将来可能的深色模式支持
// @media (prefers-color-scheme: dark) {
//   :root {
//     --el-color-primary: #1f90ff;
//     // ... 其他深色模式变量
//   }
// }
