/**
 * KD-ELP 自定义主题css变量
 * 覆盖 Element Plus 的默认主题变量
 */

// 定义自定义主题变量，参考阿里云
:root {
  // 主题色
  --color-primary-active: #0e42d2; // 激活、点击
  --color-primary: #165dff; // 主色
  --color-primary-hover: #4080ff; // 悬浮
  --color-primary-4: #6aa1ff; // 特殊场景
  --color-primary-disabled: #94bfff; // 一般禁用
  --color-primary-text-disabled: #bedaff; // 文字禁用
  --color-primary-shadow: #e8f3ff; // 浅色、白色悬浮

  // 辅助色
  // 成功
  --color-success: #009a29; // 点击

  // 文本大小
  --font-size-base: 12px; // 基础字体大小
  --font-size-small: 10px; // 基础字体大小
  --font-size-large: 14px; // 大字体
  --font-size-xlarge: 16px; // 超大字体

  // 文本颜色
  --color-text-10: #1d2129; // 强调/正文标题
  --color-text-8: #4e5969; // 次强调/正文标题
  --color-text-6: #86909c; // 将要信息
  --color-text-4: #c9cdd4; // 置灰信息

  // 线条颜色
  --color-line-light: #e5e6eb; // 常规、白底
  --color-line-dark: #c9cdd4; // 深色、灰底

  // 填充色
  --color-fill-1: #f7f8fa; // 浅/禁用
  --color-fill-2: #f2f3f5; // 一般/常规/白底悬浮
  --color-fill-3: #e5e6e8; // 深/灰底悬浮
  --color-fill-4: #c9cdd4; // 重/特殊场景
  --color-fill-8: #4e5969; // 强调/图标/特殊场景

  // 其他颜色
  // --color-border: #dcdcdc; // 线框
  // --color-split-line: #e3e6e8; // 分割线
  // --color-table-header-bg: #f7f8fa; // 表格表头背景色

  // 距离
  --gap-base: 8px; // 基础间距
  --gap-small: 4px; // 小间距
  --gap-large: 16px; // 大间距
  --gap-xlarge: 24px; // 超大间距
}

// 将来可能的深色模式支持
// @media (prefers-color-scheme: dark) {
//   :root {
//     --el-color-primary: #1f90ff;
//     // ... 其他深色模式变量
//   }
// }
