:root {
  // 主题色覆盖
  --el-color-primary: #365edf;
  // button type=primary:hover
  --el-color-primary-light-3: #4080ff;
  // button type=primary:disabled
  --el-color-primary-light-5: #94bfff;
  // button type=primary:active
  --el-color-primary-dark-2: #0e42d2;
  // button type=null：active
  --el-color-primary-light-9: #e8f3ff;

  // 功能色success
  --el-color-success: #00b42a;
  // button type=success:active
  --el-color-success-dark-2: #009a29;
  // button type=success:disabled
  --el-color-success-light-5: #ffcf8b;
  // button type=success:hover
  --el-color-success-light-3: #ff9a2e;

  // 功能色warning
  --el-color-warning: #ff7d00;
  // button type=warning:active
  --el-color-warning-dark-2: #d25f00;
  // button type=warning:disabled
  --el-color-warning-light-5: #ffcf8b;
  // button type=warning:hover
  --el-color-warning-light-3: #ff9a2e;

  // 功能色danger
  --el-color-danger: #f53f3f;
  // button type=danger:active
  --el-color-danger-dark-2: #cb2634;
  // button type=danger:disabled
  --el-color-danger-light-5: #fbaca3;
  // button type=danger:hover
  --el-color-danger-light-3: #f76560;

  // 文本颜色覆盖
  --el-text-color-primary: #1d2129;
  --el-text-color-regular: #4e5969;
  --el-text-color-secondary: #4e5969;
  --el-text-color-placeholder: #86909c;
  --el-text-color-disabled: #c9cdd4;

  // 边框颜色覆盖
  --el-border-color: #e5e6eb;
  --el-border-color-light: #e3e6e8;

  // 字体大小覆盖
  --el-font-size-small: 12px;
  --el-font-size-base: 12px;
  // --el-font-size-large: var(--font-size-large, 14px);

  // 圆角覆盖
  --el-border-radius-base: 2px;

  // yun-elp的全局样式
  --y-tooltip-popper-max-width: 316px;
  --y-tooltip-popper-max-height: 200px;
}

// y-text-tooltip弹出框样式
// y-column-text__tooltip 用于覆盖column-text组件的tooltip样式
// y-column-forms__error-tooltip 用于覆盖column-forms、column-form组件的tooltip样式
.y-text-tooltip__popper,
.y-column-text__tooltip,
.y-column-form__error-tooltip {
  max-width: var(--y-tooltip-popper-max-width);
  padding: 4px 6px;

  > span:first-child {
    display: block;
    padding: 0;
    max-height: calc(var(--y-tooltip-popper-max-height) - 10px);
    overflow-y: scroll;
    line-height: 1.5;
    font-size: var(--el-font-size-small);

    // 改写滚动条样式
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
      border-radius: inherit;
      opacity: var(--el-scrollbar-hover-opacity, 0.5);
      cursor: pointer;
    }
  }
}

// y-pop的popover弹出框样式
.y-pop__popover.el-popover.el-popper {
  font-size: var(--el-font-size-small);
  color: var(--el-text-color-regular);

  .el-popover__title {
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-primary);
    font-weight: bold;
  }
  .y-pop__popover-footer {
    text-align: right;
    margin-top: 12px;
  }
}

.el-table {
  --el-table-header-bg-color: #f7f8fa; // 表头背景色
  --el-table-header-text-color: var(--el-text-color-primary); // 表头文字颜色
  width: 100%;

  .el-table__header:hover th:not(:last-child)::after {
    position: absolute;
    top: 12px;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 16px;
    content: '\20';
    background: rgb(25 39 62 / 8%);
  }

  &.el-table--border .el-table__cell {
    border-right: none;
  }

  &__empty-block {
    height: 100px;
  }
}
